.login-background {
  background: linear-gradient(270deg, #a5a5a5, #549cc5, #796ca3);
  background-size: 600% 600%;
  animation: GradientBackground 30s ease infinite;
}

@keyframes GradientBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
